html {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Parisienne";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  background-size: 1200% 100%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

h2.category {
  color: hsla(0, 0%, 100%, 0.705);
  padding-top: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.jumbotron {
  background-color: rgba(0,0,0,0);

}

.background-transparent{
  background-color: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0))
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 0.2s;
  
}

.brand {
  color: #ffffff !important;
}

.nav-link {
  transition: color, 0.2s;
}


.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}


.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
  font-family: 'Parisienne', cursive;
}

.App{
  overflow: hidden;
}

.static-gradient{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.card {
  transition: transform 0.5s, box-shadow 0.5s;
  &:hover {
    box-shadow: 0 1.2rem 2rem rgba($white, 0.2) !important;
    transform: translateY(-3px);
    transition: transform 0.5s, box-shadow 0.5s;
  }
}

.text-title{
  color: #fff;
}

.text{
  color: rgba(255, 255, 255, 0.726);
}


.skills-tab {
  flex-grow: 1;
  text-align: center;
  color: #8255c9;
  &:hover{
    color: #633ba4;
  }
}

.progress {
  transform-origin: left;
  & > * {
    transform: scaleX(0);
  }
}

#card{
  background-color: rgba(255, 255, 255, 0.05);
}

#empty{
  height: 30vh;
  width: 100%
}

#empty2{
  height: 20vh;
  width: 100%
}

#empty3{
  height: 10vh;
  width: 100%
}

#empty4{
  height: 5vh;
  width: 100%
}

.progress-bar{
  background-color: #46257d;
}

.progress-bar-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}

#basic-navbar-nav {
  font-weight: bold;
}

#tog{
  color: #fff;
}

#right-panel-link {
  position: absolute;
  top: 30px;
  right: 2px;
}

//NECESSÁRIOS

#home{
  padding: 0%;
}